@page
@model Crypton.Pages.Alerts.AlertTypes.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlertType[0].alertType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AlertType[0].isEnabled)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.AlertType) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.alertType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isEnabled)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.alertTypeID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.alertTypeID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.alertTypeID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
